.vansh{
    background-color: aqua;
    text-decoration-color: black;
}
.footer{
    background-color: bisque;
    text-decoration-color: black;
}
.azeem{
    background-color: blanchedalmond;
    text-decoration-color: black;
    text-decoration-style: solid;
}